nav.navbar{
    background-image: url(../img/GeenBackground.png);
}
li a.menu{
    color: white;
}
ul.menu2{ 
    background-color: #b1c23c;
    border-radius: 12px 12px 12px 12px;
    border: #b1c23c;
}
ul.menu2 li a{
    color: white;
}
ul.menu2 li{ 
    margin-top: 8px;
    height: 33px;  
}
div ul li:hover ul.menu2 li{
    display: block;
}
a {
    text-decoration: none;
}
h3 a.name{
    color: rgb(80, 80, 80);
}
div.tgnh{
    margin-top: -27px;
}
a.quaylai{
    color: #b1c23c;
}
button.btn{
    background-color: #a3c1c7;
}
p.ttlh:hover {
    transform: scale(0.9);
}
a.chinhsach{
    color: white;
}
ul.footer-menu{
    margin-top: -15px;
}
div.footer-col{
    margin-top: -20px;
}
button.đk{
    background-color:black;
}
section.z {
    margin-top: -47px;
}
div.icon1 {
    margin-top: -50px;
}
input.noidung {
    height: 70px;
}
textarea {
    width: 300px;
}
a.chat {
    text-decoration: none;
}
img.chat {
    width: 25px;
}
p.a {
    color: #cada67;
    margin-top: 30px;
}
footer {
    background-image: url(./img/GeenBackground.png);
}
img.chat:hover{
    transform: scale(0.8);
}